.popup__button-save {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
    width: 358px;
    height: 50px;
    border: none;
    margin: 18px auto 37px;
    cursor: pointer;
    transition: 0.6s;
    opacity: 1;
}

.popup__button-save:hover {
    opacity: 0.8;
}

@media all and (max-width: 765px) {
    .popup__button-save {
        width: 238px;
        height: 46px;
        margin: 15px auto 25px;
    }
}